// Reset and base styles
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $primary-font;
  font-size: $base-font-size;
  line-height: $base-line-height;
  background: radial-gradient(circle at right, black, #670000);
  color: $red;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  line-height: 1.2;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem; }

a {
  text-decoration: none;
  color: $cyan;
}

li {
  list-style: none;
}

.post li {
  list-style: disc;
}

main {
  min-height: calc(100vh - 200px); // Adjust based on header/footer height
}

.link { 
  position: relative;
  display: inline-block;
  text-decoration: none;

  &::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0;
    height: 2px;
    background: $cyan;
    transition: width 0.3s ease;
  }
  &:hover::after {
      width: 100%;
  }               
}

.logo {
    width: 150px;
    margin: 0 auto 20px;

    img {
        padding-left: 10px;
        width: 100%;
        height: auto;
    }
}

// Screen Adjustments
// Desktop adjustments
@media (min-width: $breakpoint-desktop) {
  .mobile, .tablet { 
    display: none;
  }
  .desktop { 
    display: block;
  }
}

// tablet adjustments
@media (min-width: calc(#{$breakpoint-mobile} + 1)) and (max-width: $breakpoint-tablet) {
  .mobile { 
    display: none;
  }
  .tablet, .desktop { 
    display: block;
  }
}

// Mobile adjustments
@media (max-width: $breakpoint-mobile) {
  .desktop, .tablet { 
    display: none;
  }
  .mobile { 
    display: block;
  }
}